# Core functionality - changes here should be rare!
/src/app.py                   @weixioasheng
/src/backend/database.py      @weixioasheng
/src/backend/routers/auth.py  @weixioasheng

# The frontend will need refactored soon to be more object oriented.
/src/static/   @weixioasheng
